<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<h1>
  Create Account
</h1>
<p>
  Please register with an email and password below
</p>

<body>
  <form method="POST" action="/register">
    Email:<input type = "email" name = "email"></input>
    <br>
    Password:<input type = "password" name = "password"></input>
    <br>
    <button type = "submit">Register</button>
  </form>
</body>
</html>